section.admin {
  height: 100%;
  width: 100%;

  header.header-admin {
    height: 70px;
    padding: 10px 0;

    .container {
      max-width: 1400px;
      padding: 0 15px;
      margin-left: auto;
      margin-right: auto;

      .header-content {
        height: 100%;
        @include flex();
        justify-content: space-between;
        align-items: center;

        .header-img {
          // width: 180px;
        }

        .title {
          line-height: 50px;
          color: #3c3c3c;
          font-weight: normal;
          color: #fff;
        }
      }
    }
  }

  .wrapper-admin {
    margin-top: 70px;
    display: flex;

    .sidebar-admin {
      width: 12%;
      background-color: #fff;
      padding: 20px 0;
      border-right: 1px solid rgba(0, 0, 0, 5%);
      min-height: 100vh;

      h4 {
        height: 40px;
        text-align: center;
        font-size: 19px;
        color: #505050;
      }

      ul li {
        font-size: 16px;
        color: #505050;
        height: 50px;
        line-height: 50px;
        transition: 0.15s;
        cursor: pointer;
        position: relative;
        padding: 0 25px;

        i {
          margin-right: 10px;
        }

        &:hover {
          padding-left: 40px;
          color: #01adab;
          background-color: #f1f1f1b3;
        }

        &.active,
        &.active:hover {
          padding-left: 40px;
          color: #01adab;
          background-color: #dcdcdcb3;
        }
      }
    }

    .content {
      flex: 1;

      .product-admin {
        padding: 10px 10px 10px 0;
        .product__head {
          display: flex;
          text-align: center;
          justify-content: space-between;
          padding: 0 10px;
          margin-bottom: 12px;

          & > div {
            display: flex;
          }
        }
      }

    }
  }
}

.create-product {  
  width: 60vw;
  padding: 10px;

  h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #01adab;
  }
}
